<div class="well">
<h2>+ add a cocktail</h2>
<form  method="POST" role="form" ng-submit = 'newDrink()'>
	<div class="form-group">
		<input type="text" class="form-control" ng-model='name' placeholder = 'Cocktial Name'>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" ng-model='amount' placeholder = 'Amount'>
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model='alcohol' placeholder = 'Alcohol'>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" ng-model='amount' placeholder = 'Amount'>
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model='ingredient' placeholder = 'ingredient'>
	</div>
		<div class="form-group">
		<input type="text" class="form-control" ng-model='amount' placeholder = 'Amount'>
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model='ingredient' placeholder = 'ingredient'>
	</div>
		<div class="form-group">
		<input type="text" class="form-control" ng-model='amount' placeholder = 'Amount'>
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model='ingredient' placeholder = 'ingredient'>
	</div>
		<div class="form-group">
		<input type="text" class="form-control" ng-model='amount' placeholder = 'Amount'>
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model='ingredient' placeholder = 'ingredient'>
	</div>
		<div class="form-group">
		<input type="text" class="form-control" ng-model='amount' placeholder = 'Amount'>
	</div>
	<div class="form-group">
		<input type="number" class="form-control" ng-model='ingredient' placeholder = 'ingredient'>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" ng-model='image' placeholder = 'upload image'>
	</div>
	<button type="submit" class="btn">Submit</button>
</form>
</div>