<div class="cocktail_rows">
  <div>
  <h1>All Cocktails</h1>
  </div>
<!-- starts row 1 -->
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="cocktail in drinks">
    <div class="thumbnail">
      <img src="{{cocktail.image}}" alt="{{ cocktail.name }}">
      <div class="caption">
        <h3>{{cocktail.name}}</h3>
        <a href="/drink/{{cocktail._id}}" class="btn btn-default" role="button">Get Recipe</a>
      </div>
    </div>
  </div>
</div> 
<!-- end row --> 
<!-- end cocktail_rows -->
</div>

