<div class="navbar-fixed" role="navigation" ng-controller="NavCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <nav>
  <div class="nav-wrapper">
    <a class="brand-logo" href="/">Secret Recipes</a>
  </div>
  <ul class="right">
      <li><a href="/drinks">All</a></li>
      <li><a href="/drinks/new">New Drink</a></li> <!-- this is a javascript function -->
    </ul>
    <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
  </nav>
</div>
