/*font-family: 'Roboto Slab', serif;

font-family: 'Roboto', sans-serif;

colors: #009900 green 

*/


/* reseting base */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

html {
	min-height: 100%;
	width: 100%;
}

.navbar {
	background-color: #831715;
}

.navbar a {
	color: #fff !important;
	font-family: 'Roboto Slab', serif;
}



/*landing page */


#landing {
	background-image: url('../img/holly.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	position: absolute;
	margin-top: -5%;
	padding: 0;
	z-index: -1;
	float: right;
}


.landingtext {
	width: 30vw;
	padding: 2vw;
	margin: 10vw;
	background-color: rgba(255,255,255,0.4);
	float: right;
}
.landingtext h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	color: #009900
}

.landingtext h3 {
	color: #424242;
	font-size: 2em;

}

.landingtext a {
	color: #831715;
}

.landingtext a:hover {
	color: #831715;
	text-decoration: none;
}


/* allDrinks */
.thumbnail {
	margin: auto 1em 4em 1em;
	height: 440px;
	border: 4px solid #009900;
}

.thumbnail img{
	height: 300px;
	width: 300px;
	margin: 0 auto;
	background-image: url('../img/hollydefault.jpg');
	background-repeat: no-repeat;
	background-position: contain;
	outline: none;
}

.thumbnail a {
	float: right;
}


